<h1>Listing projects</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% unless projects.nil? %>
  <% for p in projects do %>
    <tr>
      <td><%= p.name %></td>
      <td><%= p.description %></td>
      <td><%= link_to 'Show', p %></td>
      <td><%= link_to 'Edit', edit_project_path(p) %></td>
      <td><%= link_to 'Destroy', p, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
<% end %>
</table>

<br />

<%= link_to 'New Project', new_project_path %>
